# Question 1

<p >1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

<p>*</p>
'hello'
-87.8
- 
/
<p>-</p>
<p>/</p>
<p>+</p>
6 
    </p>

 <p> a) These are the values from the given elements :- ['hello',87.8,6] </p>
 <p >These are the values from the given elements : [*,-,/,+] </p>

# Question 2

2) What is the difference between string and variable?

a) Variable is something where we store some kind of data in , string is a type of data that can be stored in a variable

In [3]:
name='Vamsi'  #name--> variable , 'Vamsi' is the data that is being stored in variable 'name' which of type 'string'

# Question 3

3) Describe three different data types.

a) int ---> used when dealing with whole numbers <br>
string ----> used when dealing with characters  <br>
 float -----> used when dealing with floating point numbers

In [4]:
a = 5 #integer data type
b = 'Vamsi'  #string data type
c = 7.56 #float data type

# Question 4

4. What is an expression made up of? What do all expressions do?

a)A simple expression is made up of variables,constants and operators . Experssions are evaluated during the runtime to a single value.

In [9]:
a = 5
b= a+10  # a--> variable ,+ ----> operator, 10---> constant

In [10]:
b #will be evaluated to a single value

15

# Question 5

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

a) Assignmnet statement represent an action or instruction, in the example 'spam =10' we are assigning 10 value to the variable spam,expression is a statement which will be evaluated to a value. exression is a subset of statement

In [15]:
#statments
spam= 10  
x = 5

In [17]:
#expressions
a = 5
b= a+10
b

15

# Question 6

After running the following code, what does the variable bacon contain? <br>
bacon = 22 <br>
bacon + 1  <br>

a) It will still cointain the value 22 as the updated value is being reassigned

In [22]:
bacon= 22
bacon+1

23

In [23]:
bacon

22

# Question 7

What should the values of the following two terms be? <br>
'spam' + 'spamspam'  <br>
'spam' * 3  <br>

In [24]:
'spam' + 'spamspam'   # explanation : operator '+' on strigns will concat them together

'spamspamspam'

In [26]:
'spam' * 3  # explanation : operator '*' on strigns will replicate them x number of times, as x in 'string'*x

'spamspamspam'

# Question 8

Why is eggs a valid variable name while 100 is invalid?

a) According to the syntax the varaible name's cannot start with integers

# Question 9

What three functions can be used to get the integer, floating-point number, or string version of a value?

a)The three functions to get the integer, floating-point number, or string version of a value are int(),float() and str() respectively

In [33]:
a='10'
print(int(a))
print(float(a))
a=10
print(str(a),type(str(a)))

10
10.0
10 <class 'str'>

# Question 10

Why does this expression cause an error? How can you fix it? <br>
'I have eaten ' + 99 + ' burritos.'

This expression will cause an error because '+' operation on strings, whose function will be to concat them will not work on 99 as it is of type integer. To fix it we need to type cast it into a string using 'str()'

In [35]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [37]:
'I have eaten ' + str(99) + ' burritos.'   #fix

'I have eaten 99 burritos.'