# Question 1
### Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [2]:
years_list=[]
yob=1999
for i in range(yob,yob+6):
    years_list.append(i)
    
years_list

[1999, 2000, 2001, 2002, 2003, 2004]

# Question 2
### In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [3]:
years_list[3]

2002

# Question 3
### In the years list, which year were you the oldest?

In [4]:
max(years_list)

2004

# Question 4
### Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

In [16]:
things=["mozzarella", "cinderella", "salmonella"]
things

['mozzarella', 'cinderella', 'salmonella']

# Question 5
### Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [17]:
for index,i in enumerate(things):
    if i =='cinderella':
        things[index]=i.capitalize()

In [18]:
things

['mozzarella', 'Cinderella', 'salmonella']

yes, it did change the element in the list

# Question 6
### Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

In [21]:
suprise=["Groucho,","Chico,","Harpo."]

# Question 7
### Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [23]:
suprise=["Groucho,","Chico,","Harpo."]
suprise[-1]=suprise[-1][::-1].capitalize()
suprise

['Groucho,', 'Chico,', '.oprah']

after reversing the word is starting with a sybmol, so capitalize had no affect on it.

# Question 8
### Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [25]:
e2f={'dog':'chein',
    'cat':'chat',
     'walrus':'morse'
    }
e2f

{'dog': 'chein', 'cat': 'chat', 'walrus': 'morse'}

# Question 9
### Write the French word for walrus in your three-word dictionary e2f.

In [26]:
e2f['walrus']

'morse'

# Question 10
### Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [27]:
fe2={}
for key,value in e2f.items():
    fe2[value]=key
fe2

{'chein': 'dog', 'chat': 'cat', 'morse': 'walrus'}

# Question 11
### Print the English version of the French word chien using f2e.

In [30]:
fe2

{'chein': 'dog', 'chat': 'cat', 'morse': 'walrus'}

# Question 12
### Make and print a set of English words from the keys in e2f.

In [31]:
for i in e2f.keys():
    print(i)

dog
cat
walrus

# Question 13
### Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

In [33]:
life={'animals':{'cats':['Henri','Grumpy','Lucy'],'octopi':{},'emus':{}},'plants':{},'other':{}}
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

# Question 14
### Print the top-level keys of life.

In [34]:
for i in life.keys():
    print(i)

animals
plants
other

# Question 15
### Print the keys for life['animals'].

'animals' key itself is on the top-level, it can have values but not keys.

# Question 16
### Print the values for life['animals']['cats']

In [36]:
life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']