# Question 1

    Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
    Examples
    is_symmetrical(7227) ➞ True

    is_symmetrical(12567) ➞ False

    is_symmetrical(44444444) ➞ True

    is_symmetrical(9939) ➞ False

    is_symmetrical(1112111) ➞ True

In [19]:
def is_symmetrical(n):
    n=str(n)
    return n==n[::-1]

In [20]:
is_symmetrical(7227)

True

In [21]:
is_symmetrical(12567)

False

# Question 2
    Given a string of numbers separated by a comma and space, return the product of the numbers.
    Examples
    multiply_nums("2, 3") ➞ 6

    multiply_nums("1, 2, 3, 4") ➞ 24

    multiply_nums("54, 75, 453, 0") ➞ 0

    multiply_nums("10, -2") ➞ -20

In [22]:
def multiply_nums(string):
    numbers=string.split(',')
    numbers=[int(i) for i in numbers]
    product=1
    for i in numbers:
        product*=i
    return product

In [23]:
multiply_nums("54, 75, 453, 0")

0

In [24]:
multiply_nums("10, -2")

-20

In [25]:
multiply_nums("2, 3")

6

# Question 3
    Create a function that squares every digit of a number.
    Examples
    square_digits(9119) ➞ 811181

    square_digits(2483) ➞ 416649

    square_digits(3212) ➞ 9414
    Notes
    The function receives an integer and must return an integer.

In [26]:
def square_digits(n):
    squared=[]
    while(n > 0):
        unit=n%10
        squared.append(str(unit**2))
        n=n//10
    squared=squared[::-1]
    number=''.join(squared)
    return int(number)

In [27]:
square_digits(9119)

811181

In [28]:
square_digits(2483)

416649

In [29]:
square_digits(3212)

9414

# Question 4
    Create a function that sorts a list and removes all duplicate items from it.
    Examples
    setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

    setify([4, 4, 4, 4]) ➞ [4]

    setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

    setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [32]:
def setify(l):
    l=set(l)
    l=list(l)
    l.sort()
    return l

In [33]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [36]:
setify([4, 4, 4, 4])

[4]

In [34]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [35]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

# Question 5
    Create a function that returns the mean of all digits.
    Examples
    mean(42) ➞ 3

    mean(12345) ➞ 3

    mean(666) ➞ 6
    Notes
    •	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
    •	The mean will always be an integer.

In [41]:
def mean(n):
    digits=[]
    while(n>0):
        unit=n%10
        digits.append(unit)
        n=n//10
    return int(sum(digits)/len(digits))

In [42]:
mean(42)

3

In [43]:
mean(12345)

3

In [44]:
mean(666)

6